@import 'src/variables';

$footer-background-color: #404040;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.footer {
  max-width: max;
  width: 100%;
  max-height: auto;
  height: 90%;
  padding-left: 91px;
  padding-right: 91px;
  padding-bottom: 76px;
  padding-top: 76px;
  background-color: $footer-background-color;
  display: flex;
}

.column-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.footer__logo {
  font-family: $title-font-family;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  color: $color-gray10;
  opacity: 0.9;
  align-self: center;
}

.footer-content {
  @extend .row;
  gap: 125px;
  margin-left: 187px;
  flex-wrap: wrap;
}

.footer-content a {
  font-family: $title-font-family;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  height: 48px;
  color: $color-gray1;
  text-decoration: none;
  background-image: $highlight-color-purple1;
  background-repeat: no-repeat;
  background-position: 0 1.35em;
  background-size: 173px 2px;
}

.footer-content a:hover {
  color: $color-gray10;
  background-image: linear-gradient(to right, #7c198c, #ff03d7);
}

.footer-content__link--experiences {
  background-size: 173px 2px;
}

.footer-content__link--projects {
  background-size: 114px 2px;
}

.footer-content__link--contact {
  background-size: 110px 2px;
}

.footer-content__contacts {
  @extend .row;
  align-items: center;
  height: max-content;
  margin-top: 17px;
}

.footer-content__contacts--info {
  @extend .footer-content__contacts;
  gap: 6px;

  p {
    list-style: none;
    font-size: 20px;
    line-height: 26.4px;
    font-family: $content-font-family;
    color: $color-gray1;
    font-weight: 500;
  }

  .material-symbols-outlined {
    color: $color-gray10;
  }
}

.footer-content__contacts--icons {
  @extend .footer-content__contacts;
  gap: 17px;

  button {
    border: none;
    background-color: transparent;
  }

  svg {
    width: 34px;
    height: 34px;
    stroke: none;
    fill: $color-gray10;

    &:hover {
      cursor: pointer;
    }
  
    &:active {
      fill: $color-gray8;
    }
  }
  
}
