<article>
  <header>
    <h1>Experiences</h1>
  </header>

  <div class="timeline">
    <div class="timeline__left-border">
        <ul>
            <li>
                <section class="job-section">
                    <p>Itaú Unibanco, São Paulo</p>
                    <div class="job-title-backgroud">
                      <h2>Software Engineer</h2>
                    </div>
                    <p>
                      Worked in the development of accessible functionalities using Angular 11
                      on the mobile and web channels, attending the guidelines and
                      architectural patterns, besides the analysis of productivity indicators
                      and OKRs.
                    </p>
                    <ul>
                      <li>
                        <p>
                          Usage of components from the Material and the bank design system
                        </p>
                      </li>
                      <li><p>Git Flow</p></li>
                      <li><p>Publishment and deployment through AWS pipelines</p></li>
                    </ul>
                </section>
            </li>
            <li>
                <section class="job-section">
                    <p>Itaú Unibanco, São Paulo</p>
                    <div class="job-title-backgroud">
                      <h2>Software Engineer</h2>
                    </div>
                    <p>
                      Worked in the development of accessible functionalities using Angular 11
                      on the mobile and web channels, attending the guidelines and
                      architectural patterns, besides the analysis of productivity indicators
                      and OKRs.
                    </p>
                    <ul>
                      <li>
                        <p>
                          Usage of components from the Material and the bank design system
                        </p>
                      </li>
                      <li><p>Git Flow</p></li>
                      <li><p>Publishment and deployment through AWS pipelines</p></li>
                    </ul>
                </section>
            </li>
        </ul>
    </div>
  </div>
</article>
