<article>
  <header>
    <h1>Experiences</h1>
  </header>


  <ul class="job-list">
    <li class="job">
      <p class="job__time">2022/01 - Current</p>

      <div class="job__content">
        <p>Itaú Unibanco, São Paulo</p>
        <div class="job__title-backgroud">
          <h2>Software Engineer</h2>
        </div>
        <p class="job__brief">
          Worked in the development of accessible functionalities using Angular
          11 on the mobile and web channels, attending the guidelines and
          architectural patterns, besides the analysis of productivity
          indicators and OKRs.
        </p>
        <ul class="job__topics-list">
          <li>
            <p>
              Usage of components from the Material and the bank design system
            </p>
          </li>
          <li><p>Git Flow</p></li>
          <li><p>Publishment and deployment through AWS pipelines</p></li>
        </ul>
      </div>

      <img src=".\assets\img\logo_itau.png" />
    </li>
    <li class="job">
        <p class="job__time">2022/01 - Current</p>
  
        <div class="job__content">
          <p>Itaú Unibanco, São Paulo</p>
          <div class="job__title-backgroud">
            <h2>Software Engineer</h2>
          </div>
          <p class="job__brief">
            Worked in the development of accessible functionalities using Angular
            11 on the mobile and web channels, attending the guidelines and
            architectural patterns, besides the analysis of productivity
            indicators and OKRs.
          </p>
          <ul class="job__topics-list">
            <li>
              <p>
                Usage of components from the Material and the bank design system
              </p>
            </li>
            <li><p>Git Flow</p></li>
            <li><p>Publishment and deployment through AWS pipelines</p></li>
          </ul>
        </div>
  
        <img src=".\assets\img\logo_itau.png" />
      </li>
      <li class="job">
        <p class="job__time">2022/01 - Current</p>
  
        <div class="job__content">
          <p>Itaú Unibanco, São Paulo</p>
          <div class="job__title-backgroud">
            <h2>Software Engineer</h2>
          </div>
          <p class="job__brief">
            Worked in the development of accessible functionalities using Angular
            11 on the mobile and web channels, attending the guidelines and
            architectural patterns, besides the analysis of productivity
            indicators and OKRs.
          </p>
          <ul class="job__topics-list">
            <li>
              <p>
                Usage of components from the Material and the bank design system
              </p>
            </li>
            <li><p>Git Flow</p></li>
            <li><p>Publishment and deployment through AWS pipelines</p></li>
          </ul>
        </div>
  
        <img src=".\assets\img\logo_itau.png" />
      </li>
  </ul>
</article>
