@import "src/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  padding: 40px;
}

h1 {
  font-family: $title-font-family;
  font-weight: 400;
  font-size: 120px;
  line-height: 165px;
  color: $color-gray08;
  height: 137px;

  &::after {
    content: ".";
    background-clip: text;
    background-image: $highlight-color-purple1;
    -webkit-text-fill-color: transparent;
  }
}

h2 {
  font-family: $title-font-family;
  font-weight: 400;
  font-size: 32px;
  line-height: 42.24px;
  color: $color-gray03;
}

p {
  font-family: $content-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  color: $color-gray12;
}

.job-list {
  margin-top: 132px;
  position: relative;

//   &::after {
//     content: "";
//     position: absolute;
//     width: 18px;
//     height: 2px;
//     background: $color-gray08;
//     left: 138px;
//   }
}

.job {
  @extend .row;

  img {
    width: 134px;
    height: 134px;
    margin-left: 115px;
    align-self: center;
  }
}

.job__time {
  font-size: 16px;
  line-height: 21.12px;
  font-weight: 500;
  max-width: 140px;
  position: relative;
  margin-right: 14px;
  top: 35px;

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: $color-gray08;
    border-radius: 999px;
    right: -25px;
  }
}

.job__content {
  @extend .column;
  max-width: 793px;
  border-left: 2px solid $color-gray08;
  padding-left: 37px;

  .job__title-backgroud {
    width: 100%;
    background-color: $color-gray08;
    margin-bottom: 14px;
  }

  .job__brief {
    margin-bottom: 20px;
  }

  .job__topics-list {
    margin-left: 40px;
    list-style-type: square;
    list-style-image: $highlight-color-purple1;
  }

  .job__topics-list li {
    margin-bottom: 12px;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}
