$highlight-color-purple1: linear-gradient(to right, #ff03d7, #7c198c);
$color-gray1: #ababab;
$color-gray4: #CCCCCC;
$color-gray6: #9C9C9C; 
$color-gray8: #595959;
$color-gray9: #404040;
$color-gray10: #2e2e2e;
$color-gray12: #0D0D0D;
$title-font-family: 'DM Serif Display', serif;
$content-font-family: 'Quicksand', sans-serif;  