$highlight-color-purple1: linear-gradient(to right, #ff03d7, #7c198c);
$color-gray01: #F7F7F7;
$color-gray02: #EDEDED;
$color-gray03: #DEDEDE;
$color-gray04: #CCCCCC;
$color-gray05: #B3B3B3;
$color-gray06: #9C9C9C;
$color-gray07: #717171;
$color-gray08: #595959;
$color-gray09: #404040;
$color-gray10: #2E2E2E;
$color-gray11: #1A1A1A;
$color-gray12: #0D0D0D;
$title-font-family: 'DM Serif Display', serif;
$content-font-family: 'Quicksand', sans-serif;  