/* You can add global styles to this file, and also import other style files */
$footer_background_color: #404040;
$primary_purple_color: linear-gradient(to right, #FF03D7, #7C198C);
$gray10: #2E2E2E;
$gray1: #ABABAB;

@font-face {
    font-family: "DM Serif Display";
    src: url(./assets/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf) format("ttf");
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }